<div class="page-header">
  <%= link_to admin_vacancies_path, :class => 'btn btn-default' do %>
    <span class="icon-arrow-left"></span>
    Back
  <% end %>
  <h1>New vacancy</h1>
</div>

<%= render 'form' %>
