<div class="row-fluid">
  <div class="span4">
    <br/>
    <ul class="list-group">
      <li class="list-group-item">Test</li>
      <li class="list-group-item">Test</li>
      <li class="list-group-item">Test</li>
    </ul>
  </div>
  <div class="span8">
    <%= yield %>
  </div>
</div>