$(".alert").remove();
$(".page-header").after("<div class=\"alert alert-success alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Rejected the application from <%= @job_application.user.fullname %> for <%= @job_application.vacancy.title %>").slideDown();

var rejected = "#h_rejected"
if ($(rejected)) {
	$(rejected).remove();
}

<%# Grabs the rejected Applicant div and puts it to rejected %>
var user = $("#user_<%= @job_application.user.id %>");
user.appendTo($(".accordion_rejected"));
user.find($(".new-option")).remove();
user.collapse();

<%# Checks which state the application had
 and decrement the tab amount accordingly  %>
if ("<%= @state %>" == "send") {
	var amount_first_tab = parseInt($("#tab_1").text());
	amount_first_tab--
	$("#tab_1").text(amount_first_tab);
	if (amount_first_tab == 0) {
		$(".accordion_send").append("<h4 id=\"h_reviewed\">There are no new applications.</h4>");
	}

} else {
	var amount_first_tab = parseInt($("#tab_3").text());
	amount_first_tab--
	$("#tab_3").text(amount_first_tab);
	if (amount_first_tab == 0) {
		$(".accordion_reviewed").append("<h4 id=\"h_reviewed\">There are no reviewed applications.</h4>");
	}
}

<%# Increments the amount of the Rejected Tab%>
var amount_new_tab = parseInt($("#tab_5").text());
amount_new_tab++
$("#tab_5").text(amount_new_tab);