<p>Dear <%= @user.fullname %>,</p>

<p>
	we're happy to tell you that your job application for <%= @vacancy.title %> was accepted by our staff.<br/>
	Congratulation.
</p>
<p>
	Greetings,<br/>
	The Administration
</p>