<p>Dear <%= @user.fullname %>,</p>

<p>
	we accepted the application, which was reviewed by you. to happy tell you that your job application for <%= @vacancy.title %> was accepted by our staff.<br/>
</p>
<p>
	Greetings,<br/>
	The Administration
</p>