<p>Dear <%= @user.fullname %>,</p>

<p>
	we're sorry to tell you that your job application for <%= @vacancy.title %> was rejected by our staff.<br/>
	We wish you better luck at your next application.
</p>
<p>
	Greetings,<br/>
	The Administration
</p>