<h1>An Application was reviewed</h1>

<p><%= @moderator.fullname %> reviewed the application from <%= @user.fullname %> for <%= @vacancy.title %>.</p>

<p>To accept or decline the applicant visit <%= link_to "the admin area", admin_job_application_url(@vacancy) %>.</p>